@charset "utf-8";
#contenedor {
    width: 100%;
    background-color: #002D7C;
    height: 1300px;
}
#header {
    background-color: #5E9DDC;
    height: 300px;
    width: 100%;
}
#body{
	
	padding: 25px;
}
#right {
    background-color: #3E86D3;
    float: right;
    height: 800px;
    width: 60%;
    text-align: center;
}

#left {
    background-color: #148DFF;
    float: left;
    height: 800px;
    width: 35%;
}
#pie{
	width: 100%;
	clear: both;
	height: 100px;
	background-color: #5e9ddc;
	text-align: center;
	font-style: italic;
}
.imagen{
    width: 255px;
    height: 200px;
    float: left;
    align-content: center;
    text-align: center;
}

.title{
	text-align: center;
}
